<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.fyh.springbootdemo.mapper.AnimationMapper">

    <select id="selectAnimationById" parameterType="int"
            resultType="per.fyh.springbootdemo.domain.Animation">
        select * from animations where id=#{id}
    </select>
    <!--<insert id="insertAnimation" useGeneratedKeys="true" keyProperty="id">-->
        <!--insert into animations (name,score) values(#{name},#{score})-->
    <!--</insert>-->
</mapper>